@font-face {
  font-family: "iconfont logo";
  src: url("https://at.alicdn.com/t/font_985780_km7mi63cihi.eot?t=1545807318834");
  src:
    url("https://at.alicdn.com/t/font_985780_km7mi63cihi.eot?t=1545807318834#iefix")
      format("embedded-opentype"),
    url("https://at.alicdn.com/t/font_985780_km7mi63cihi.woff?t=1545807318834")
      format("woff"),
    url("https://at.alicdn.com/t/font_985780_km7mi63cihi.ttf?t=1545807318834")
      format("truetype"),
    url("https://at.alicdn.com/t/font_985780_km7mi63cihi.svg?t=1545807318834#iconfont")
      format("svg");
}

/* 全局设置router-link，即a标签的样式 */
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #31c27c;
}
li {
  list-style: none;
}
body {
  margin: 0px;
}

* {
  --darken-mix-color:#404040;
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}
input,select,textarea {
  -webkit-appearance: none;
  border-width: 0;
  box-shadow: none;
  outline: 0;
  outline-width: 0;
}
:root {
  --graduation-fill: #ffffff;
}
.el-popper {
  border: 1px solid #25292f !important;
  --el-bg-color-overlay:#0f1214;
  overflow: hidden;
}
.el-menu-item {
  --el-menu-hover-bg-color:#282c32;
  --el-menu-text-color:#ffffff
}
.el-menu {
  padding: 0 !important;
  --el-menu-bg-color:#0f1214;
  --el-menu-hover-bg-color: #282c32;
  --el-menu-item-height:40px;
  --el-menu-sub-item-height:calc(var(--el-menu-item-height) - 6px);
}
.el-slider__runway {
  --el-slider-runway-bg-color:#282c32;
}