@font-face {
  font-family: "iconfont logo";
  src: url("https://at.alicdn.com/t/font_985780_km7mi63cihi.eot?t=1545807318834");
  src:
    url("https://at.alicdn.com/t/font_985780_km7mi63cihi.eot?t=1545807318834#iefix")
      format("embedded-opentype"),
    url("https://at.alicdn.com/t/font_985780_km7mi63cihi.woff?t=1545807318834")
      format("woff"),
    url("https://at.alicdn.com/t/font_985780_km7mi63cihi.ttf?t=1545807318834")
      format("truetype"),
    url("https://at.alicdn.com/t/font_985780_km7mi63cihi.svg?t=1545807318834#iconfont")
      format("svg");
}

/* 全局设置router-link，即a标签的样式 */
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #31c27c;
}
li {
  list-style: none;
}
body {
  margin: 0px;
}

* {
  --darken-mix-color:#404040;
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}
